.slider-container {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
  }
  
  .slider {
    display: flex;
    width: calc(33.33% - 20px);
    flex-wrap: nowrap;
    overflow-x: hidden;
    margin-right: 20px;
  }
  
  .slider:last-child {
    margin-right: 0;
  }
  
  .slider img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .prev, .next {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  @media (min-width: 768px) {
    .slider {
      width: calc(33.33% - 40px);
      margin-right: 40px;
    }
  
    .prev, .next {
      display: block;
    }
  }


 .kenia-one {
  font-family: 'Keania One', sans-serif;
 }
  
  footer .footer-container p {
    font-size: 18px;
    color: #426184;
    text-align: center;
    margin-bottom: 0;
  }
  
  footer .footer-container p img {
    vertical-align: middle;
  }
  
  footer .footer-container a {
    color: #426184;
  }
  
  footer .footer-container p span {
    color: #ffffff;
  }